.dark-content {
  .MuiMenuItem-root,
  .MuiListItem-root {
    color: white !important;
  }
}

.explore__link {
  color: black !important;
  text-decoration: none;
}

.dark-content {
  .explore__link {
    color: white !important;
  }
}
